
popbrick.nc
.Rproj.user
.Rhistory
.RData
AllSources365.nc
base.nc
ExposureSource1.nc
HouseholdSource365.nc
PointSource365.nc
popbrick.nc
Read-and-delete-me
SmallPointSource365.nc
yearAll.nc
yearDiffAll.nc
test.gri
test.grd
MDB.Rda
MDC_People.nc
PointSource365.grd
PointSource365.gri
PointSource365baseline.nc
Subplace.nc
Subplace2.nc
bfnames.Rda
yearBaselineAll.nc
ExposureSource1Baseline.nc
KwaZamokuhleMP
*.pdf

